.center {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: 5px;
}
.dropdown-padding {
    padding-left: 22px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.full-container {
    margin-right: 0px;
    padding-right: 0px;
}
